---
import Layout from "./Layout.astro";
import BlogMeta from "../components/BlogMeta.astro";

const { post } = Astro.props;
const {
	title = "",
	description = "",
	pubDate,
	categories,
	image,
	imageAlt,
} = post.data;
---

<Layout {title} {description}>
	{image && <img src={image} alt={imageAlt || ""} class="floating-image" />}
	<h1>{title}</h1>
	<BlogMeta {pubDate} {categories} />
	<slot />
</Layout>
