---
import "@intergrav/slight.css";
import "../styles/global.css";
import Comments from "../components/Comments.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title} • devins.page</title>
		<meta name="description" content={description} />
		<meta name="author" content="intergrav" />
		<link rel="canonical" href={Astro.url.pathname} />

		<meta property="og:title" content={`${title} • devins.page`} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.pathname} />

		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="devin's page"
			href={new URL("rss.xml", Astro.site)}
		/>

		<ClientRouter />
	</head>
	<body class="prose">
		<Header />
		<main>
			<section>
				<slot />
			</section>
			<Comments />
		</main>
		<Footer />
	</body>
</html>
